#ttt_table, #ttt_table td {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: separate;
    padding: 10px;
    table-layout: fixed;
    border-radius: 10px;
}

#buttonContainer {
    text-align: center;
}

#myButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }